body {
    background-color: #FAEBD7;
}
.required_field {
    color:red;
}
#reg_block {
    border: 1px solid black;
}
#reg_block h2{
    text-align:center;
}
#reg_block input[type="submit"] {
cursor: pointer;
}
.error_field {
    color:red;
    text-align:center;
    margin-top:3px;
}
.success_field {
    color:green;
    text-align:center;
    font-weight: bold;
}
#auth_block {
    margin-top:10px;
    border: 1px solid black;
}
#auth_block h2 {
    text-align:center;
}
#auth_block  input[type="submit"] {
    cursor: pointer;
}
#block_info_user {
    width:350px;
    height:auto;
    border:2px dotted black;
    float:left;

}
#block_info_user h3 {
    text-align: center;
}
#block_info_user p {
    padding-left:7px;
}
#exit_cab {
    text-align:right;
    padding-right: 7px;
    text-decoration: none;
}
#exit_cab a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

#block_all_users {
    width:500px;
    height:auto;
    border:2px dotted black;
    margin:0 auto;
}
#block_all_users h2 {
    text-align:center;
}
#hide_info {
    width:25px;
    color:black;
    background-color: darkseagreen;
    border-radius: 5px;
}